* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(22, 24, 35, 0.06);

  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(22, 24, 35, 0.06);
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.clear {
  clear: both;
}

/* Header */
.header {
  padding: 10px 140px;
  margin-bottom: 10px;
}

.header__logo {
  text-decoration: none;
  padding: 10px 0;
  margin-bottom: 10px;
  display: block;
}

.header__logo i {
  height: 40px;
  width: 40px;
  margin-right: 8px;
  color: #ffce00;
  font-size: 18px;
  border-radius: 50%;
  background-color: #002146;
  text-align: center;
  line-height: 40px;
}

.header__logo span {
  color: #000;
  font-size: 28px;
  font-weight: 700;
}

.header__nav {
  padding-left: 20px;
}

.header__nav a {
  text-decoration: none;
  color: #000;
  margin-right: 24px;
  font-size: 16px;
  font-weight: 400;
}

/* Carousel */
.carousel img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

/* About */
.about {
  padding: 40px 140px;
}

.about__content {
  float: left;
  width: 50%;
}

.about__img {
  float: right;
  width: 50%;
  padding-left: 50px;
}

.about__img img {
  width: 100%;
  border-radius: 2px;
}

.about__content h3 {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.about__content p {
  font-size: 14px;
  color: #787878;
}

.about__content button {
  margin-top: 40px;
  padding: 14px 24px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #1b3245;
  background-color: #fdc800;
  font-size: 16px;
  font-weight: 700;
}

/* Achieve */
.achieve {
  padding: 20px 80px;
  background-color: #f6f6f6;
}

.achieve__list {
  margin: auto;
  width: 90%;
}

.achieve__item {
  float: left;
  width: 25%;
  height: 50px;
  line-height: 50px;
}

.achieve__item div {
  float: left;
  /* width: 50%; */
}

.item__number {
  font-size: 40px;
  font-weight: 700;
  padding-right: 12px;
}

.item__content {
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
}

/* Activities */
.activities {
  padding: 60px 130px;
}

.activities__list {
  margin: auto;
}

.list__container {
  padding: 10px;
  width: 25%;
  float: left;
}

.activities__items {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  background-color: #002146;
  color: #fff;
  border-radius: 4px;
}

.activities__items i {
  font-size: 40px;
}

.activities__items p {
  margin-top: 20px;
  font-size: 16px;
}

/* Blog */
.blog {
  /* height: 100vh; */
  padding: 60px 120px;
  background-color: #f6f6f6;
}

/* .blog__container {
  margin: auto;
  width: 80%;
} */

.container__content {
  float: left;
  width: 50%;
  padding: 20px;
}

.item__img {
  float: left;
  width: 30%;
}

.item__para {
  float: right;
  width: 70%;
}

.content__item {
  padding: 0 20px;
}

.item__img {
  padding: 10px 10px 10px 0;
}

.item__img img {
  width: 100%;
  border-radius: 4px;
}

.blog__title {
  font-size: 28px;
  font-weight: 700;
  padding: 40px 0;
  text-align: left;
}

.content__item {
  border-radius: 4px;
  background-color: #fff;
}

.item__para {
  padding: 0 14px;
  line-height: 1.2;
}

.item__para p:nth-child(1),
.item__schedule p:nth-child(1) {
  font-size: 18px;
  font-weight: 800;
}

.item__para p:nth-child(2) {
  padding: 8px 0 12px 0;
  font-size: 14px;
  font-weight: 400;
  color: #919191;
}

.item__para p:nth-child(3) {
  font-size: 14px;
  font-weight: 500;
  color: #515151;
}

.content__envent {
  padding: 20px;
  background: white;
  margin-bottom: 20px;
  border-radius: 4px;
}

.blog__btn {
  text-align: right;
  margin-top: 20px;
}

.blog__btn button {
  cursor: pointer;
  padding: 12px 24px;
  background-color: #fdc800;
  color: #001f46;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

.wraper {
  padding: 20px 0;
}

.divide {
  height: 1px;
  width: 100%;
  background-color: #ededed;
}

.item__card {
  float: left;
  width: 20%;
}

.item__schedule {
  float: right;
  width: 75%;
}

.card__top {
  text-align: center;
  padding: 10px 20px;
  background-color: #fdc800;
  color: #001f46;
  border-radius: 6px 6px 0 0;
}

.card__top p:nth-child(1) {
  font-size: 30px;
  font-weight: 800;
}

.card__top p:nth-child(2),
.card__bottom p {
  font-size: 16px;
  font-weight: 400;
}

.card__bottom {
  text-align: center;
  padding: 10px 20px;
  background-color: #001f46;
  color: #fff;
  border-radius: 0 0 4px 4px;
}

.item__schedule p:nth-child(2) {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #515151;
  line-height: 1.5;
}

.schedule__bottom {
  margin-top: 10px;
}

.schedule__bottom span {
  font-size: 14px;
  color: #00183e;
  font-weight: 500;
}

.schedule__devide {
  display: inline;
  width: 1px;
  height: 100%;
  padding: 0 0.5px;
  background-color: #aeaeae;
  margin: 0 16px;
}

/* Footer */
.footer {
  padding: 40px 140px;
  background-color: #002146;
  color: #fff;
}

.footer__item {
  float: left;
  width: 30%;
}

.footer__container {
  padding-bottom: 20px;
  border-bottom: 1px solid #4d4945;
}

.footer__container .footer__item:nth-child(1) {
  margin-right: 30px;
}

.footer__container .footer__item:nth-child(2) {
  margin-right: 40px;
}

.footer__item a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.footer__container a:hover {
  text-decoration: underline;
}

.footer__item > a {
  display: block;
  margin-bottom: 20px;
}

.footer__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__item i {
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 12px;
  color: #fdc800;
}

.footer__copyright {
  padding: 30px 0 0 0;
  font-size: 14px;
}

.contact__location {
  line-height: 0;
}

.contact__tel {
  height: 40px;
  line-height: 40px;
}

.contact__mail {
  height: 30px;
  line-height: 30px;
}

.contact__location {
  height: 44px;
}

.w3layout {
  text-decoration: none;
  color: #cdcdcd;
}

.w3layout:hover {
  text-decoration: underline;
}
